# [member]
ETCD_NAME={{ etcd_name }}
ETCD_DATA_DIR="{{ etcd_data_dir }}"
ETCD_LISTEN_CLIENT_URLS="{{ etcd_listen_client_urls }}"

#[cluster]
ETCD_ADVERTISE_CLIENT_URLS={{ etcd_advertise_client_urls }}

